
// 修改成你期望的字体族
$font-family-base = "Microsoft YaHei","Monda", Verdana, sans-serif

// 标题，修改成你期望的字体族
$font-family-headings = "Roboto Slab", Georgia, sans

// 代码字体
$code-font-family = "Montserrat", "PT Mono", "Input Mono", Consolas, Monaco, Menlo, monospace

// 博客字体
$font-family-posts        = "Monda"

// logo字体
$font-family-logo		  = "Lobster Two"